[dbserver]
host = 127.0.0.1
port = 27017
user = readwrite
password = readwrite

[genebank]
db_name = PharmRG
col_num = 2
col_name_1 = source_genbank_gene
col_name_2 = source_genbank_pubmed
source_url_num = 2
source_url_1 = https://ftp.ncbi.nih.gov/gene/DATA/gene_info.gz
source_url_2 = https://ftp.ncbi.nih.gov/gene/DATA/gene2pubmed.gz
updata_time = 2023-09-01
data_path_num = 2
data_path_1 = ../../../data/genbank/gene/
data_path_2 = ../../../data/genbank/pubmed/
json_path_num = 2
json_path_1 = ../../../parsed/genbank/gene/
json_path_2 = ../../../parsed/genbank/pubmed/

[bindingdb]
db_name = PharmRG
col_num = 1
col_name_1 = source_bindingdb
source_url_num = 1
source_url_1 = https://www.bindingdb.org/bind/downloads/BindingDB_All_202309_tsv.zip
update_time = 2023-9-1
data_path_num = 1
data_path_1 = ../../../data/bindingdb/bindingdb1.json
json_path_num = 1
json_path_1 = ../../../parsed/bindingdb/

[drugbank]
db_name = PharmRG
col_num = 1
col_name_1 = source_drugbank
source_url_num = 1
source_url_1 = https://go.drugbank.com/releases/latest
update_time = 2023-9-1
data_path_num = 1
data_path_1 = ../../../data/drugbank/full_database.xml
json_path_num = 1
json_path_1 = ../../../parsed/drugbank/

[biogrid]
db_name = PharmRG
col_num = 1
col_name_1 = source_biogrid
source_url_num = 1
source_url_1 = /home/zhaojingtong/pharmrg/pharmrg_data/biogrid/BIOGRID-ALL-4.4.226.mitab.txt
update_time = 2023-10-15
data_path_num = 1
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/biogrid/
json_path_num = 1
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/biogrid/
