[dbserver]
host = 127.0.0.1
port = 27017
user = readwrite
password = readwrite

[bindingdb]
db_name = PharmRG
col_num = 1
col_name_1 = source_bindingdb
source_url_num = 1
source_url_1 = https://www.bindingdb.org/bind/downloads/BindingDB_All_202309_tsv.zip
update_time = 2023-9-1
data_path_num = 1
data_path_1 = ../../../data/bindingdb/bindingdb1.json
json_path_num = 1
json_path_1 = ../../../parsed/bindingdb/

[drugbank]
db_name = PharmRG
col_num = 1
col_name_1 = source_drugbank
source_url_num = 1
source_url_1 = https://go.drugbank.com/releases/latest
update_time = 2023-9-1
data_path_num = 1
data_path_1 = ../../../data/drugbank/full_database.xml
json_path_num = 1
json_path_1 = ../../../parsed/drugbank/

[biogrid]
db_name = PharmRG
col_num = 1
col_name_1 = source_biogrid
source_url_num = 1
source_url_1 = /home/zhaojingtong/pharmrg/pharmrg_data/biogrid/BIOGRID-ALL-4.4.226.mitab.txt
update_time = 2023-10-15
data_path_num = 1
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/biogrid/
json_path_num = 1
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/biogrid/

[dgidb]
db_name = PharmRG
col_num = 4
col_name_1 = source_dgidb_interactions
col_name_2 = source_dgidb_genes
col_name_3 = source_dgidb_drugs
col_name_4 = source_dgidb_categories
source_url_num = 4
source_url_1 = https://dgidb.org/data/monthly_tsvs/2022-Feb/interactions.tsv
source_url_2 = https://dgidb.org/data/monthly_tsvs/2022-Feb/genes.tsv
source_url_3 = https://dgidb.org/data/monthly_tsvs/2022-Feb/drugs.tsv
source_url_4 = https://dgidb.org/data/monthly_tsvs/2022-Feb/categories.tsv
update_time = 2022-2
data_path_num = 4
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/dgidb/interactions/
data_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/dgidb/genes/
data_path_3 = /home/zhaojingtong/pharmrg/pharmrg_data/dgidb/drugs/
data_path_4 = /home/zhaojingtong/pharmrg/pharmrg_data/dgidb/categories/
json_path_num = 4
json_path_1 = ../../../parsed/dgidb/interactions/
json_path_2 = ../../../parsed/dgidb/genes/
json_path_3 = ../../../parsed/dgidb/drugs/
json_path_4 = ../../../parsed/dgidb/categories/

[genebank]
db_name = PharmRG
col_num = 2
col_name_1 = source_genbank_gene
col_name_2 = source_genbank_pubmed
source_url_num = 2
source_url_1 = https://ftp.ncbi.nih.gov/gene/DATA/gene_info.gz
source_url_2 = https://ftp.ncbi.nih.gov/gene/DATA/gene2pubmed.gz
updata_time = 2023-10-15
data_path_num = 2
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/genebank/gene/
data_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/genebank/pubmed/
json_path_num = 2
json_path_1 = ../../../parsed/genbank/gene/
json_path_2 = ../../../parsed/genbank/pubmed/

[kegg]
db_name = PharmRG
col_num = 5
source_url_num = 5
data_path_num = 5
json_path_num = 5
update_time = 2023-10-15
col_name_1 = source_kegg_drugs
source_url_1 = drug
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/drugs/
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/drugs.json
col_name_2 = source_kegg_diseases
source_url_2 = disease
data_path_2 = ../../../data/kegg/diseases/
json_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/diseases.json
col_name_3 = source_kegg_compounds
source_url_3 = compound
data_path_3 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/compounds/
json_path_3 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/compounds.json

col_name_4 = source_kegg_pathway
source_url_4 = pathway
data_path_4 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/pathway/
json_path_4 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/pathway.json

col_name_5 = source_kegg_ddi
source_url_5 = ddi
data_path_5 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/ddi/
json_path_5= /home/zhaojingtong/pharmrg/pharmrg_data/kegg/ddi.json


[twosides]
db_name = PharmRG
col_num = 2
col_name_1 = source_twosides_twosides
col_name_2 = source_twosides_offsides
source_url_num = 2
source_url_1 = https://tatonettilab.org/resources/nsides/TWOSIDES.csv.gz
source_url_2 = https://tatonettilab.org/resources/nsides/OFFSIDES.csv.gz
update_time = 2023-10-19
data_path_num = 2
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/twosides/OFFSIDES.csv
data_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/twosides/TWOSIDES.csv
json_path_num = 2
json_path_1 = ../../../parsed/twosides/twosides/TWOSIDES.json
json_path_2 = ../../../parsed/twosides/offsides/OFFSIDES.json

[pharmgkb]
db_name = PharmRG
tables = [drugs,genes,relationships,pathways]
col_num = 4
col_name_1 = source_pharmgkb_drugs
col_name_2 = source_pharmgkb_genes
col_name_3 = source_pharmgkb_relationships
col_name_4 = source_pharmgkb_pathways
source_url_num = 4
source_url_1 = https://api.pharmgkb.org/v1/download/file/data/drugs.zip
source_url_2 = https://api.pharmgkb.org/v1/download/file/data/genes.zip
source_url_3 = https://api.pharmgkb.org/v1/download/file/data/relationships.zip
source_url_4 = https://api.pharmgkb.org/v1/download/file/data/pathways-tsv.zip
update_time_1 = 2023-10-20
update_time_2 = 2021-10-20
update_time_3 = 2023-10-20
update_time_4 = 2021-10-20
data_path_num = 4
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/pharmrgkb/drugs.zip
data_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/pharmrgkb/genes.zip
data_path_3 = /home/zhaojingtong/pharmrg/pharmrg_data/pharmrgkb/relationships.zip
data_path_4 = /home/zhaojingtong/pharmrg/pharmrg_data/pharmrgkb/pathways-tsv.zip
json_path_num = 4
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/pharmrgkb/
json_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/pharmrgkb/
json_path_3 = /home/zhaojingtong/pharmrg/pharmrg_data/pharmrgkb/
json_path_4 = /home/zhaojingtong/pharmrg/pharmrg_data/pharmrgkb/

[ttd]
db_name = PharmRG
tables = [target,drug,crossmatching,synonyms,drug2disease,target2disease,target2drug,biomarker2disease,target2kegg,target2wiki]
col_num = 10
col_name_1 = source_ttd_target
col_name_2 = source_ttd_drug
col_name_3 = source_ttd_crossmatching
col_name_4 = source_ttd_synonyms
col_name_5 = source_ttd_drug2disease
col_name_6 = source_ttd_target2disease
col_name_7 = source_ttd_target2drug
col_name_8 = source_ttd_biomarker2disease
col_name_9 = source_ttd_target2kegg
col_name_10 = source_ttd_target2wiki
sourcebase = https://db.idrblab.net/ttd/full-data-download
source_url_num = 10
data_path_num = 10
json_path_num = 10
update_time_1 = 2023-06-17
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/target.tsv
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/target.json
update_time_2 = 2023-06-17
data_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/drug.tsv
json_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/drug.json
update_time_3 = 2023-06-17
data_path_3 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/crossmatching.tsv
json_path_3 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/crossmatching.json
update_time_4 = 2023-06-17
data_path_4 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/synonyms.tsv
json_path_4 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/synonyms.json
update_time_5 = 2023-06-17
data_path_5 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/drug2disease.tsv
json_path_5 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/drug2disease.json
update_time_6 = 2023-06-17
data_path_6 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/target2disease.tsv
json_path_6 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/target2disease.json
update_time_7 = 2023-06-17
data_path_7 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/target2drug.xlsx
json_path_7 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/target2drug.json
update_time_8 = 2023-06-17
data_path_8 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/biomarker2disease.tsv
json_path_8 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/biomarker2disease.json
update_time_9 = 2023-06-17
data_path_9 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/target2kegg.tsv
json_path_9 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/target2kegg.json
update_time_10 = 2023-06-17
data_path_10 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/target2wiki.tsv
json_path_10 = /home/zhaojingtong/pharmrg/pharmrg_data/ttd/target2wiki.json
source_url_1 = https://db.idrblab.net/ttd/sites/default/files/ttd_database/P1-01-TTD_target_download.txt
source_url_2 = https://db.idrblab.net/ttd/sites/default/files/ttd_database/P1-02-TTD_drug_download.txt
source_url_3 = https://db.idrblab.net/ttd/sites/default/files/ttd_database/P1-03-TTD_crossmatching.txt
source_url_4 = https://db.idrblab.net/ttd/sites/default/files/ttd_database/P1-04-Drug_synonyms.txt
source_url_5 = https://db.idrblab.net/ttd/sites/default/files/ttd_database/P1-05-Drug_disease.txt
source_url_6 = https://db.idrblab.net/ttd/sites/default/files/ttd_database/P1-06-Target_disease.txt
source_url_7 = https://db.idrblab.net/ttd/sites/default/files/ttd_database/P1-07-Drug-TargetMapping.xlsx
source_url_8 = https://db.idrblab.net/ttd/sites/default/files/ttd_database/P1-08-Biomarker_disease.txt
source_url_9 = https://db.idrblab.net/ttd/sites/default/files/ttd_database/P4-01-Target-KEGGpathway_all.txt
source_url_10 = https://db.idrblab.net/ttd/sites/default/files/ttd_database/P4-06-Target-wikipathway_all.txt

[transporter]
db_name = PharmRG
col_num = 2
col_name_1 = source_transporter_transporters
col_name_2 = source_transporter_compounds
source_url_num = 2
update_time = 2023-10-22
source_url_1 = http://transportal.compbio.ucsf.edu/transporters/
source_url_2 = http://transportal.compbio.ucsf.edu/compounds/
data_path_num = 2
data_path_1 = ../../../data/transporter/transporters/
data_path_2 = ../../../data/transporter/compounds/
json_path_num = 2
json_path_1 = ../../../parsed/transporter/transporters.json
json_path_2 = ../../../parsed/transporter/compounds.json

[uniprot]
db_name = PharmRG
col_num = 1
col_name_1 = source_uniprot
source_url_num = 1
source_url_1 = https://ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.xml.gz
update_time_1 = 2023-10
data_path_num = 1
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/uniprot/
json_path_num = 1
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/uniprot/uniprot.json

[brenda]
db_name = PharmRG
sourcebase = https://www.brenda-enzymes.org/download_brenda_without_registration.php
sourcebase_des = Please register to download the BRENDA Textfile!
tables = [enzyme]
col_num = 1
source_url_num = 1
data_path_num = 1
json_path_num = 1
col_name_1 = source_brenda_enzyme
source_url_1 = https://www.brenda-enzymes.org/brenda_download/file_download.php
update_time_1 = 2023-10-22
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/brenda/brenda_2023_1.txt.tar.gz
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/brenda/enzyme.json

[do]
db_name = PharmRG
col_num = 1
col_name_1 = source_do
source_url_num = 1
source_url_1 = https://raw.githubusercontent.com/DiseaseOntology/HumanDiseaseOntology/main/src/ontology/doid.obo
update_time = 2023-06-08
data_path_num = 1
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/do/doid.obo
json_path_num = 1
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/do/doid.json

[wikipathway]
db_name = PharmRG
col_num = 1
col_name_1 = source_wikipathway
source_url_num = 1
source_url_1 = https://data.wikipathways.org/current/gpml/wikipathways-20231010-gpml-Homo_sapiens.zip
update_time = 2023-10-10
data_path_num = 1
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/wikipathway/
json_path_num = 1
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/wikipathway/

[icd11]
db_name = PharmRG
collection_name = source_icd11
data_buffer_size = 1000
json_get_root_concepts_url = https://icd.who.int/dev11/l-m/en/JsonGetRootConcepts
json_get_children_concepts_url = https://icd.who.int/dev11/l-m/en/JsonGetChildrenConcepts
get_content_url = https://icd.who.int/dev11/l-m/en/GetConcept
data_url_prefix = https://icd.who.int/dev11/l-m/en#/
thread_num = 5

[smpdb]
db_name = PharmRG
collection_name_prefix = source_
data_buffer_size = 1000
data_path = /home/zhaojingtong/pharmrg/pharmrg_data/smpdb/
pathways_csv_data_source = https://smpdb.ca/downloads/smpdb_pathways.csv.zip
metabolite_names_data_source = https://smpdb.ca/downloads/smpdb_metabolites.csv.zip
protein_names_data_source = https://smpdb.ca/downloads/smpdb_proteins.csv.zip
sbml_data_source = https://smpdb.ca/downloads/smpdb_sbml.zip

[stitch]
db_name = PharmRG
data_path = /home/zhaojingtong/pharmrg/pharmrg_data/stitch/
collection_name_prefix = source_stitch_

cc_links_url = http://stitch.embl.de/download/chemical_chemical.links.detailed.v5.0.tsv.gz
cc_links_filename = chemical_chemical_links.tsv.gz
cc_links_collection = chemical_chemical_links

pc_links_detailed_url = http://stitch.embl.de/download/protein_chemical.links.detailed.v5.0/9606.protein_chemical.links.detailed.v5.0.tsv.gz
pc_links_detailed_filename  = protein_chemical_links_detailed.tsv.gz
pc_links_transfer_url = http://stitch.embl.de/download/protein_chemical.links.transfer.v5.0/9606.protein_chemical.links.transfer.v5.0.tsv.gz
pc_links_transfer_filename = protein_chemical_links_transfer.tsv.gz
pc_links_collection = protein_chemical_links

actions_url = http://stitch.embl.de/download/actions.v5.0/9606.actions.v5.0.tsv.gz
actions_filename = actions.tsv.gz
actions_collection = actions

[faers]
db_name = PharmRG
col_num = 1
col_name_1 = source_faers
source_url_num = 1
source_url_1 = https://fis.fda.gov/extensions/FPD-QDE-FAERS/FPD-QDE-FAERS.html
update_time = 2024-04-01
data_path_num = 1
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/faers/

