[dbserver]
host = 127.0.0.1
port = 27017
user = readwrite
password = readwrite

[bindingdb]
db_name = PharmRG
col_num = 1
col_name_1 = source_bindingdb
source_url_num = 1
source_url_1 = https://www.bindingdb.org/bind/downloads/BindingDB_All_202309_tsv.zip
update_time = 2023-9-1
data_path_num = 1
data_path_1 = ../../../data/bindingdb/bindingdb1.json
json_path_num = 1
json_path_1 = ../../../parsed/bindingdb/

[drugbank]
db_name = PharmRG
col_num = 1
col_name_1 = source_drugbank
source_url_num = 1
source_url_1 = https://go.drugbank.com/releases/latest
update_time = 2023-9-1
data_path_num = 1
data_path_1 = ../../../data/drugbank/full_database.xml
json_path_num = 1
json_path_1 = ../../../parsed/drugbank/

[biogrid]
db_name = PharmRG
col_num = 1
col_name_1 = source_biogrid
source_url_num = 1
source_url_1 = /home/zhaojingtong/pharmrg/pharmrg_data/biogrid/BIOGRID-ALL-4.4.226.mitab.txt
update_time = 2023-10-15
data_path_num = 1
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/biogrid/
json_path_num = 1
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/biogrid/

[dgidb]
db_name = PharmRG
col_num = 4
col_name_1 = source_dgidb_interactions
col_name_2 = source_dgidb_genes
col_name_3 = source_dgidb_drugs
col_name_4 = source_dgidb_categories
source_url_num = 4
source_url_1 = https://dgidb.org/data/monthly_tsvs/2022-Feb/interactions.tsv
source_url_2 = https://dgidb.org/data/monthly_tsvs/2022-Feb/genes.tsv
source_url_3 = https://dgidb.org/data/monthly_tsvs/2022-Feb/drugs.tsv
source_url_4 = https://dgidb.org/data/monthly_tsvs/2022-Feb/categories.tsv
update_time = 2022-2
data_path_num = 4
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/dgidb/interactions/
data_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/dgidb/genes/
data_path_3 = /home/zhaojingtong/pharmrg/pharmrg_data/dgidb/drugs/
data_path_4 = /home/zhaojingtong/pharmrg/pharmrg_data/dgidb/categories/
json_path_num = 4
json_path_1 = ../../../parsed/dgidb/interactions/
json_path_2 = ../../../parsed/dgidb/genes/
json_path_3 = ../../../parsed/dgidb/drugs/
json_path_4 = ../../../parsed/dgidb/categories/

[genebank]
db_name = PharmRG
col_num = 2
col_name_1 = source_genbank_gene
col_name_2 = source_genbank_pubmed
source_url_num = 2
source_url_1 = https://ftp.ncbi.nih.gov/gene/DATA/gene_info.gz
source_url_2 = https://ftp.ncbi.nih.gov/gene/DATA/gene2pubmed.gz
updata_time = 2023-10-15
data_path_num = 2
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/genebank/gene/
data_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/genebank/pubmed/
json_path_num = 2
json_path_1 = ../../../parsed/genbank/gene/
json_path_2 = ../../../parsed/genbank/pubmed/

[kegg]
db_name = PharmRG
col_num = 4
source_url_num = 4
data_path_num = 4
json_path_num = 4
update_time = 2023-10-15
col_name_1 = source_kegg_drugs
source_url_1 = drug
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/drugs/
json_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/drugs.json
col_name_2 = source_kegg_diseases
source_url_2 = disease
data_path_2 = ../../../data/kegg/diseases
json_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/diseases.json
col_name_3 = source_kegg_compounds
source_url_3 = compounds
data_path_3 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/compounds/
json_path_3 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/compounds.json

col_name_4 = source_kegg_pathway
source_url_4 = pathway
data_path_4 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/compounds/
json_path_4 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/pathway.json

col_name_5 = source_kegg_ddi
source_url_5 = ddi
data_path_5 = /home/zhaojingtong/pharmrg/pharmrg_data/kegg/ddi/
json_path_5= /home/zhaojingtong/pharmrg/pharmrg_data/kegg/ddi.json


[twosides]
db_name = PharmRG
col_num = 2
col_name_1 = source_twosides_twosides
col_name_2 = source_twosides_offsides
source_url_num = 2
source_url_1 = https://tatonettilab.org/resources/nsides/TWOSIDES.csv.gz
source_url_2 = https://tatonettilab.org/resources/nsides/OFFSIDES.csv.gz
update_time = 2023-10-19
data_path_num = 2
data_path_1 = /home/zhaojingtong/pharmrg/pharmrg_data/twosides/
data_path_2 = /home/zhaojingtong/pharmrg/pharmrg_data/twosides/
json_path_num = 2
json_path_1 = ../../../parsed/twosides/twosides/TWOSIDES.json
json_path_2 = ../../../parsed/twosides/offsides/OFFSIDES.json
