[dbserver]
host = 127.0.0.1
port = 27017
user = readwrite
password = readwrite

[bindingdb]
db_name = PharmRG
col_num = 1
col_name_1 = source_bindingdb
source_url_num = 1
source_url_1 = https://www.bindingdb.org/bind/downloads/BindingDB_All_202309_tsv.zip
update_time = 2023-9-1
data_path_num = 1
data_path_1 = ../../../data/bindingdb/bindingdb1.json
json_path_num = 1
json_path_1 = ../../../parsed/bindingdb/